div#broadGoalsContainer .broadGoalsPanel .header, div#broadGoalsContainer .broadGoalPanel .header {
    font-size: 14px;
}  

div#broadGoalsContainer .broadGoalsPanel .footer .buttonContainer .button, div#broadGoalsContainer .broadGoalPanel .footer .buttonContainer .button, .navButton {
    font-size: 12px;
    padding-top: 3px;
}

.more, .less {
    font-size: 12px;
}

div#recommendations #content .item .number {
    font-size: 12px;
}