/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

h1, h2, h3, p, ul, ol { font-weight: normal; font-size: 1em; margin: 0; padding: 0; -webkit-padding-start: 0; -webkit-margin-before: 0; -webkit-margin-after: 0; -webkit-margin-start: 0; -webkit-margin-end: 0; }

p { margin-bottom: 0; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

body {
    background: #dbf2f5 url('../images/bgPage.png') repeat-y;
    min-width: 1024px;
}

h1 {
    font-family: 'Open Sans', 'Arial';
    font-weight: 300;
    line-height: 24px;
    color: #4e4e4e;
    text-transform: uppercase;
}

hr {
    width: 80%;
    border: none;
    margin: 24px auto 24px auto;
    border-bottom: 1px dotted #999;
    background-color: #fff;
    color: #fff;
    height: 0;
}

table {
    width: 100%;
}

table tr td {
    padding: 3px;
}

header {
    height: 117px;
    background: url('../images/bgHeader.png') repeat-x;
    width: 100%;
    min-width: 1024px;
}

header #container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

header #logo {
    display: block;
    margin-top: 27px;
    width: 320px;
    height: 51px;
    background: url('../images/logo2.png');
    float: left;
}

header #logo h1 {
    display: none;
}

header #menuContainer {
    height: 89px;
    float: right;
}

header #mainMenuContainer {
    height: 30px;
}

header #mainMenuContainer {
    list-style: none;
    padding: 0;
    float: right;
    margin-top: 45px;
}

header #mainMenuContainer ul li {
    display: inline;
    background: #fff;
    margin: 0;
    padding-top: 2px;
    border-top: 1px solid #4f4f4f;
    border-bottom: 1px solid #a9a9a9;
    border-left: 1px solid #4f4f4f;
    float: left;
}

header #mainMenuContainer ul li a {
    padding: 9px 0 2px 0;
    line-height: 14px;
    font-size: 12px !important;
    display: block;
    text-transform: uppercase; 
    font-size: 12px;
    text-align: center;
    color: #333;
    text-decoration: none;
    margin: 0 12px 0 12px;
}    

header #mainMenuContainer ul li a:hover {
    color: #333;
    text-decoration: none;
}    

header #mainMenuContainer ul li.last {
    border-right: 1px solid #4f4f4f;
}    

header #mainMenuContainer ul li.selected {
    /*border-top: 3px solid #4f4f4f;*/
    background-color: #FFFEEF;
    -moz-box-shadow: inset 0 0 8px #d3c88f;
    -webkit-box-shadow: inset 0 0 8px #d3c88f;
    box-shadow: inset 0 0 8px #d3c88f;
    padding-top: 0px;
} 

header #mainMenuContainer ul li.ltGray {
    border-top: 3px solid #4f4f4f;
    padding-top: 0px;
}
header #mainMenuContainer ul li.blue {
    border-top: 3px solid #146893;
    padding-top: 0px;
} 
header #mainMenuContainer ul li.green {
    border-top: 3px solid #81805f;
    padding-top: 0px;
} 
header #mainMenuContainer ul li.maroon {
    border-top: 3px solid #8a2f3a;
    padding-top: 0px;
} 
header #mainMenuContainer ul li.orange {
    border-top: 3px solid #ce6405;
    padding-top: 0px;
} 

header #topMenuContainer {
    height: 24px;
    color: #999;
    font-size: 12px;
    font-family: arial;
    margin-top: 6px;
    text-align: right;
}

header #topMenuContainer a {
    color: #333;
    font-size: 12px;
    font-family: arial;
    text-decoration: underline;
}

header #topMenuContainer a:hover {
    color: #999;
}

div[role="main"] {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

h1.tagline {
    font-family: 'Open Sans', arial;
    font-weight: 300;
    font-size: 1.8em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #4e4e4e;
    margin-top: 8px;
}

div#sliderContainer {
    margin: 20px auto 0 auto;
    padding: 18px 0 0 18px;
    background: #fff;
    width: 764px;
    min-height: 224px;
    border-top: 1px solid #727272;
    border-left: 1px solid #727272;
    border-right: 1px solid #727272;
    border-bottom: 3px solid #727272;
    -moz-box-shadow:    3px 3px 0px 0px #ccc;
    -webkit-box-shadow: 3px 3px 0px 0px #ccc;
    box-shadow:         3px 3px 0px 0px #ccc;
}

div#sliderContainer ul li .photo {
    width: 368px;
    height: 208px;
    /*background: url('../images/sliderShadow.png') no-repeat;*/
    -moz-box-shadow: inset 0 0 12px #000;
    -webkit-box-shadow: inset 0 0 12px #000;
    box-shadow: inset 0 0 12px #000;
    border: 1px solid #999;
    float: left;
    margin: 7px 0 0 7px;
}

div#sliderContainer ul li .photo a {
    display: block;
    width: 368px;
    height: 208px;
}

div#sliderContainer ul li .text {
    width: 350px;
    margin: 15px 0 0 22px;
    float: left;
}

div#sliderContainer .text h2 {
    font-family: palatino, georgia, Times;
    font-weight: normal;
    color: #000;
    font-size: 24px;
}
div#sliderContainer .text p {
    font-family: palatino, georgia, Times;
    font-weight: normal;
    color: #f15922;
    font-size: 17px;
    margin: 0;
}

.homeVideoStill1 {
    background: url('../images/videoStill1.png'); 
}
.homeVideoStill2 {
    background: url('../images/videoStill4.png'); 
}
.homeVideoStill3 {
    background: url('../images/videoStill3.png'); 
}

div#divider {
    width: 768px;
    margin: 30px auto 30px auto;
    background: url('../images/dashedLineSeparator.png') 0 18px repeat-x;
}

div#divider h2 {
    padding: 0 24px 0 24px;
    font-family: palatino, georgia, Times;
    font-weight: normal;
    font-size: 1.1em;
    color: #333;
    width: 500px;
    text-align: center;
    background: #e3f5f7;
    margin: 0 auto 0 auto;
    
    background-color: #FFFEEF;
    -moz-box-shadow: inset 0 0 18px #d3c88f;
    -webkit-box-shadow: inset 0 0 18px #D3C88F;
    box-shadow: inset 0 0 18px #D3C88F;
    border: 1px solid #fff;
    height: 35px;
}

div#divider h2 a {
    margin: 7px auto 0 auto;
    display: block;
    padding-right: 15px;
    color: #333;
    text-decoration: underline;
    /*width: 290px;
    background: url('../images/bulletBlue.png') right no-repeat;*/
}    
div#divider h2 a:hover {
    color: #333;
    text-decoration: underline;
}    

div#broadGoalsContainer {
    width: 1024px;
    margin: 24px auto 0 auto;
}

div#broadGoalsContainer .broadGoalsPanel {
    width: 238px;
    height: 312px;
    background: url('../images/bgBroadGoalsPanel.png') no-repeat;
    float: left;
}

div#broadGoalsContainer .broadGoalsPanel .header, div#broadGoalsContainer .broadGoalPanel .header {
    font-family: 'Open Sans Condensed', 'Arial Narrow'; 
    font-weight: 400;
    width: 125px;
    font-size: 17px;
    text-transform: uppercase;
    /*background: url('../images/iconArrow.png') 134px 20px no-repeat;*/
    padding: 14px 20px 7px 15px;
}    

div#broadGoalsContainer .broadGoalPanel .header {
    background: none;
    padding: 6px 0 7px 15px;
    width: 300px;
}

div#broadGoalsContainer .broadGoalsPanel .photo {
    width: 212px;
    height: 91px;
    border-top: 3px solid;
    margin-left: 7px;
}

div#broadGoalsContainer .broadGoalsPanel .photo.blue {
    background: url('../images/broadGoalsRecognition.png') 0 1px no-repeat;
    border-color: #146893;
}    

div#broadGoalsContainer .broadGoalsPanel .photo.green {
    background: url('../images/broadGoalsTraining.png') 0 1px no-repeat;
    border-color: #81805f;
}    

div#broadGoalsContainer .broadGoalsPanel .photo.maroon {
    background: url('../images/broadGoalsFamily.png') 0 1px no-repeat;
    border-color: #8a2f3a;
}    

div#broadGoalsContainer .broadGoalsPanel .photo.orange {
    background: url('../images/broadGoalsSustainability.png') 0 1px no-repeat;
    border-color: #ce6405;
}    

div#broadGoalsContainer .broadGoalsPanel .text {
    font-family: palatino, georgia, Times;
    font-weight: normal;
    font-size: 15px;
    margin: 10px 0 0 20px;
    width: 190px;
    line-height: 18px;
    height: 110px;
}

div#broadGoalsContainer .broadGoalsPanel .text.blue {
    color: #146893;
}  
div#broadGoalsContainer .broadGoalsPanel .text.green {
    color: #81805f;
}  
div#broadGoalsContainer .broadGoalsPanel .text.maroon {
    color: #8a2f3a;
}  
div#broadGoalsContainer .broadGoalsPanel .text.orange {
    color: #ce6405;
}  

div#broadGoalsContainer .broadGoalsPanel .footer, div#broadGoalsContainer .broadGoalPanel .footer {
    border-top: 1px dotted #000;
    width: 210px;
    height: 35px;
    margin-left: 8px;
}    

div#broadGoalsContainer .broadGoalPanel .footer {
    width: 100%;
    margin: 0;
}    

div#broadGoalsContainer .broadGoalsPanel .footer .buttonContainer, div#broadGoalsContainer .broadGoalPanel .footer .buttonContainer {
    width: 160px;
    height: 35px;
    float: right;
    border-left: 1px dotted #000;
}    

div#broadGoalsContainer .broadGoalPanel .footer .buttonContainer {
    width: 230px;
}

div#broadGoalsContainer .broadGoalsPanel .footer .buttonContainer .button, div#broadGoalsContainer .broadGoalPanel .footer .buttonContainer .button, .navButton {
    display: block;
    font-family: 'Open Sans Condensed', 'Arial Narrow';
    letter-spacing: 1px;
    /*font-weight: 700;*/
    font-size: 14px;
    color: #fff !important;
    text-shadow: 1px 1px 0 #000;
    text-transform: uppercase;
    width: 135px;
    height: 23px;
    text-decoration: none;
    padding: 2px 0 0 3px;
    margin: 7px 0 0 13px;
    
    /*
    font-weight: 400;
    font-size: 14px;
    padding: 2px 0 0 5px;
    */
}

div#broadGoalsContainer .broadGoalPanel .footer .buttonContainer .button, .navButton {
    text-align: center;
    float: right;
    margin: 6px 10px 0 13px;
}    

div#broadGoalsContainer .broadGoalsPanel .footer .buttonContainer .button.blue, div#broadGoalsContainer .broadGoalPanel .footer .buttonContainer .button.blue, .navButton.blue.right {
    background: url('../images/buttonBlue.png') no-repeat;
}
div#broadGoalsContainer .broadGoalsPanel .footer .buttonContainer .button.green, div#broadGoalsContainer .broadGoalPanel .footer .buttonContainer .button.green, .navButton.green.right {
    background: url('../images/buttonGreen.png') no-repeat;
}
div#broadGoalsContainer .broadGoalsPanel .footer .buttonContainer .button.maroon, div#broadGoalsContainer .broadGoalPanel .footer .buttonContainer .button.maroon, .navButton.maroon.right {
    background: url('../images/buttonMaroon.png') no-repeat;
}
div#broadGoalsContainer .broadGoalsPanel .footer .buttonContainer .button.orange, div#broadGoalsContainer .broadGoalPanel .footer .buttonContainer .button.orange, .navButton.orange.right {
    background: url('../images/buttonOrange.png') no-repeat;
}

.navButton.left {
    float: left;
}

.navButton.right {
    float: left;
    padding-left: 0;
}

.navButton.left span {
    margin-left: 10px;
    text-align: left;
    display: block;
    width: 125px;
}
.navButton.right span {
    display: block;
    text-align: right;
    width: 125px;
}

.navButton.blue.left {
    background: url('../images/buttonBlueLeft.png') no-repeat;
}
.navButton.green.left {
    background: url('../images/buttonGreenLeft.png') no-repeat;
}
.navButton.maroon.left {
    background: url('../images/buttonMaroonLeft.png') no-repeat;
}
.navButton.orange.left {
    background: url('../images/buttonOrangeLeft.png') no-repeat;
}

.clipTop {
    position: absolute;
    width: 54px;
    height: 39px;
    margin-top: -5px;
    z-index: 100;
}

.clipTop a {
    display: block;
    width: 46px;
    height: 39px;
    text-align: center;
    color: #fff;
    font-size: 11px;
    font-family: arial;
    text-decoration: none;
    line-height: 16px;
    text-shadow: 1px 1px 0 #000;
}

.clipTop .number {
    color: #fff;
    font-size: 15px;
    font-family: Times;
    margin: 0;
    text-shadow: 1px 1px 0 #000;
}

.clipTop.blue {
    background: url('../images/clipBlue.png') no-repeat;
}

.clipTop.green {
    background: url('../images/clipGreen.png') no-repeat;
}

.clipTop.maroon {
    background: url('../images/clipMaroon.png') no-repeat;
}

.clipTop.orange {
    background: url('../images/clipOrange.png') no-repeat;
}

div#broadGoalsContainer .broadGoalsPanel .clipTop {
    margin-left: 163px;
}

div#broadGoalsContainer .broadGoalsPanel.spacer {
    margin-right: 22px;
}   

footer {
    width: 100%;
    min-width: 1024px;
    background-color: #6e6e6e;
    margin-top: 60px;
}

footer #content {
    width: 1024px;
    margin: 0 auto 0 auto;
    border-left: 1px dotted #fff;
    border-right: 1px dotted #fff;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans Condensed', 'Arial Narrow';
    font-weight: 400;
    text-shadow: 1px 1px 0 #2e2d2d;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer #content a, footer #content a:hover {
    color: #fff;
}

footer .disclaimer {
    margin-top: 3px;
    font-size: .85em; 
    letter-spacing: 1px; 
    line-height: 14px;
}

.mTop6 {
    margin-top: 6px;
}

.mTop12 {
    margin-top: 12px;
}

.mBottom6 {
    margin-bottom: 6px;
}

.mBottom24 {
    margin-bottom: 24px;
}

.mTop12 {
    margin-bottom: 12px;
}

.mLeft12 {
    margin-left: 12px;
}

.ulBumpLeft {
    padding-left: 60px;
}

/* =============================================================================
   Broad Goals Page
   ========================================================================== */

div#broadGoals h1, div#recommendations h1 {
    font-family: 'Open Sans', 'Arial';
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    width: 200px;
    float: left;
    color: #4e4e4e;
    text-transform: uppercase;
    text-decoration: none;
    margin: 14px 0 0 24px;
}

div#recommendations h1 a, div#recommendations h1 a:hover {
    text-decoration: underline;
    color: #4e4e4e;
}
    
div#broadGoals p.header, div#recommendations p.header {
    width: 800px;
    float: right;
    font-family: palatino, georgia, Times;
    text-shadow: 2px 2px 0 #fff;
    font-weight: normal;
    font-size: 1.1em;
    line-height: 24px;
    margin: 14px 0 0 0;
}

div#recommendations p.header {
    width: 600px;
    float: left;
}    

div#broadGoals p.blue, div#recommendations p.blue {
    color: #146893;
}
div#broadGoals p.green, div#recommendations p.green {
    color: #81805F;
}
div#broadGoals p.maroon, div#recommendations p.maroon {
    color: #8A2F3A;
}
div#broadGoals p.orange, div#recommendations p.orange {
    color: #CE6405;
}

div#broadGoals div#content .content p {
    margin-bottom: 18px;
}    
div#broadGoals div#content .content p ul {
    margin-top: 0;
}    

div#broadGoals div#content {
    background-color: #fff;
    border-top:3px solid;
    margin-top: 24px;
}

div#broadGoals #content.plain {
    font-family: palatino, georgia, Times;
    border-color: #333;
    padding: 24px;
    font-size: 1em;
    color: #333;
}
div#broadGoals #content.blue {
    border-color: #146893;
}
div#broadGoals #content.green {
    border-color: #81805F;
}
div#broadGoals #content.maroon {
    border-color: #8A2F3A;
}
div#broadGoals #content.orange {
    border-color: #CE6405;
}

div#broadGoals #content h2 {
    font-family: 'Open Sans', 'Arial';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #4e4e4e;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 12px;
}

div#broadGoals #content h3 {
    font-size: 1.1em;
    font-weight: bold;
    font-style: italic;
    line-height: 24px;
    color: #4e4e4e;
    text-decoration: none;
    margin-bottom: 6px;
}

div#broadGoals  #content  div.subheader {
    background-color: inherit;
    height: 68px;
    overflow: hidden;
    color: #4e4e4e;
    border-bottom: 1px dotted #4e4e4e;
    padding: 7px 100px 20px 0;
    float: left;
}

div#broadGoals  #content  div.subheader .content {
    font-family: palatino, georgia, Times;
    font-size: 1em;
    line-height: 28px;
    float: right;
    width: 700px;
}

div#broadGoals  #content  div.subheader h2 {
    float: left;
    width: 200px;
    font-family: 'Open Sans', 'Arial';
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    margin-left: 24px;
}

div#broadGoals  #content  div.subheader.close, div#recommendations #content .item .content.closed {
    height: 68px;
    overflow: hidden;
}    

div#broadGoals  #content  div.subheader.close, div#recommendations #content .item .content.closed.strategies {
    height: 20px;
    margin-top: 7px;
}

div#broadGoals  #content  div.subheader.open, div#recommendations #content .item .content.open {
    height: auto;
    overflow: auto;
}    

.more, .less {
    background-color: inherit;
    width: 73px;
    height: 28px;
    display: block;
    font-family: 'Open Sans Condensed', 'Arial Narrow';
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
    color: #fff !important;
    text-shadow: 1px 1px 0 #000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    float: right;
    margin: -35px 12px 0 0;
}

.less {
    padding-top: 7px;
}

.more.blue {
    background: url('../images/moreBlue.png') no-repeat;
}
.less.blue {
    background: url('../images/lessBlue.png') no-repeat;
}
.more.green {
    background: url('../images/moreGreen.png') no-repeat;
}
.less.green {
    background: url('../images/lessGreen.png') no-repeat;
}
.more.maroon {
    background: url('../images/moreMaroon.png') no-repeat;
}
.less.maroon {
    background: url('../images/lessMaroon.png') no-repeat;
}
.more.orange {
    background: url('../images/moreOrange.png') no-repeat;
}
.less.orange {
    background: url('../images/lessOrange.png') no-repeat;
}

#broadGoals #content #broadGoalsContainer {
    width: 1024px;
    margin: 30px 0 0 50px;
}

.broadGoalPanel {
    width: 275px;
    background-color: #fff;
    border: 1px solid #727272;
    padding: 6px;
    -moz-box-shadow:    2px 2px 0px 0px #ccc;
    -webkit-box-shadow: 2px 2px 0px 0px #ccc;
    box-shadow:         2px 2px 0px 0px #ccc;
    float: left;
    margin: 0 25px 25px 0;
}

.broadGoalPanel .content {
    background-color: #fffeef;
    -moz-box-shadow:    inset 0 0 30px #e8deac;
    -webkit-box-shadow: inset 0 0 30px #e8deac;
    box-shadow:         inset 0 0 30px #e8deac;
}

.broadGoalPanel .content .photo {
    width: 100%;
    height: 78px;
    border-top: 3px solid;
    background: url('../images/decoImage1.png') 25px 14px no-repeat;
}

.broadGoalPanel .content .photo.blue {
    border-color: #146893;
}
.broadGoalPanel .content .photo.green {
    border-color: #81805F;
}
.broadGoalPanel .content .photo.maroon {
    border-color: #8A2F3A;
}
.broadGoalPanel .content .photo.orange {
    border-color: #CE6405;
}

.broadGoalPanel .content .text {
    height: 250px;
    padding: 12px 24px 12px 24px;
    font-family: palatino, georgia, Times;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
}

.broadGoalPanel .content .text.blue {
    color: #146893;
}
.broadGoalPanel .content .text.green {
    color: #81805F;
}
.broadGoalPanel .content .text.maroon {
    color: #8A2F3A;
}
.broadGoalPanel .content .text.orange {
    color: #CE6405;
}

.bgBlue {
    background: #146893;
}
.bgGreen {
    background: #81805F;
}
.bgMaroon {
    background: #8A2F3A;
}
.bgOrange {
    background: #CE6405;
}

/* =============================================================================
   Recommendations Page
   ========================================================================== */

div#recommendations #content {
    background: #fff;
    border-top: 3px solid;
    width: 880px;
    -moz-box-shadow:    2px 2px 0px 0px #ccc;
    -webkit-box-shadow: 2px 2px 0px 0px #ccc;
    box-shadow:         2px 2px 0px 0px #ccc;
    margin: 24px 20px 0 0;
    float: left;
}

div#recommendations #content.blue {
    color: #146893;
} 
div#recommendations #content.green {
    color: #81805F;
} 
div#recommendations #content.maroon {
    color: #8A2F3A;
} 
div#recommendations #content.orange {
    color: #CE6405;
} 

div#recommendations #content .item {
    border-bottom: 1px dotted #999;
    padding: 24px;
}

div#recommendations #content .item .number {
    width: 175px;
    margin-top: 32px;
    height: 24px;
    text-align: center;
    color: #fff;
    font-family: palatino, georgia, Times;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #000;
}

div#recommendations #content .item .number.green {
    background: url('../images/flagGreen.png') center no-repeat;
} 
div#recommendations #content .item .number.blue {
    background: url('../images/flagBlue.png') center no-repeat;
} 
div#recommendations #content .item .number.maroon {
    background: url('../images/flagMaroon.png') center no-repeat;
} 
div#recommendations #content .item .number.orange {
    background: url('../images/flagOrange.png') center no-repeat;
} 

div#recommendations #content .item.last {
    border: none;
}    
    
div#recommendations #content .item h2 {
    float: left;
    width: 200px;
    font-family: 'Open Sans', 'Arial';
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    float: left;
    margin: none;
}

div#recommendations #content .item h2.blue {
    color: #146893;
}    

div#recommendations #content .item .content {
    background-color: inherit;
    font-family: palatino, georgia, Times;
    font-size: .95em;
    line-height: 24px;
    overflow: hidden;
    color: #4e4e4e;
    float: right;
    width: 630px;
}   

div#recommendations #content .item.recommendation .content {
    font-size: 1.1em;
    line-height: 28px;
    overflow: none;
    height: auto;
}

div#recommendations #content .item .expando {
    margin-top: 12px;
    clear: both;
}    

div#recommendations #content .item .expando.strategies {
    margin-top: 0;
}    

div#recommendations #sideBar {
    float: right;
    width: 118px;
    margin-top: 24px;
}

div#recommendations #sideBar .panel {
    width: 118px;
    height: 74px;
    border: 1px solid;
    background-color: #fff;
    -moz-box-shadow:    2px 2px 0px 0px #ccc;
    -webkit-box-shadow: 2px 2px 0px 0px #ccc;
    box-shadow:         2px 2px 0px 0px #ccc;
    margin-bottom: 12px;
}    

div#recommendations #sideBar .panel a {
    width: 118px;
    height: 74px;
    display: block;
    outline: 0;
}

div#recommendations #sideBar.blue .panel {
    border-color: #146893;
}   
div#recommendations #sideBar.green .panel {
    border-color: #81805F;
}  
div#recommendations #sideBar.maroon .panel {
    border-color: #8A2F3A;
}  
div#recommendations #sideBar.orange .panel {
    border-color: #CE6405;
}  

p.bullet {
    background: url('../images/bullet1.png') 0 5px no-repeat;
    padding-left: 25px;
    font-weight: bold;
    color: #000;
    margin-top: 30px;
}

p.bar {
    border-left: 2px solid;
    padding-left: 20px;
}

p.bar.blueBar {
    border-color: #146893;
}

p.bar.greenBar {
    border-color: #81805F;
}

p.bar.maroonBar {
    border-color: #8A2F3A;
}

p.bar.orangeBar {
    border-color: #CE6405;
}

.bottomNavBar {
    width: 1024px;
    min-width: 1024px;
    margin: 24px auto 0 auto;
    height: 30px;
}

/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
